<!-- Add a customer -->
<p>
  <button class="btn btn-primary" (click)="onAdd()">Add</button>
</p>
<!-- Search a customer -->
<div class="panel panel-primary">
  <input type="text" name="searchData" class="form-control" placeholder="Search" [(ngModel)]="searchData">
</div>
<!-- list each customer as hyperlink -->
<div class="list-group">
  <a [routerLink]="['/customers', customer.id]"  class="list-group-item" *ngFor="let customer of ( customers | searchBy : searchData)">
    {{ customer?.name }}
  </a>
</div>
